<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>v-for/if优先级</title>
</head>
<body>
    <div id="app">
        <!-- <p v-for="item in list">{{item}}</p> -->
        <p v-for="item in list" :key="item">{{item}}</p>
    </div>
</body>
<script src="./vue.js"></script>
<script>
const vm = new Vue({
    el: '#app',
    data: {
        list: ['a', 'b', 'c', 'd', 'e'],
    },
    // 根实例上data即可以使function也可以是{}
    // data() {
    //     return {
    //         msg: 'hello'
    //     }
    // }
    mounted() {
        setTimeout(() => {
            // a b f c d e
            this.list.splice(2, 0, 'f')
        }, 1500)
        // 不使用key，三次更新操作，一次创建插入操作
        // 使用key，一次创建插入操作
    }
})
</script>
</html>